
:root{
    --mainBlue:#679289;
    --lightGray:#707070;

}
/* ToolBar Styling */
#site_marker{
    font-size:22px;
    padding-left:50px;
}

#logo_img{
    width: 45px;
    height: auto;
    
}
#top_navi{
    padding-top:18px;
    font-size: 18px;
    width:75%;
}

/* Banner Styling */
#home_banner{
    width:100%;
    height:10%;
    padding-top: 3%;
    padding-left: 4%;
    border-top:1.5px solid var(--mainBlue);
    border-bottom:1.5px solid var(--mainBlue);
    color:var(--lightGray);
    font-style:italic;
}
#quote_container{
    padding-left:8%;
    font-size:1.75em;
}
#quote_start{
    font-size:1.75em;
}
#quote_end{
    font-size:1.75em;
    padding-left:80px;
}
#quote_author{
    text-align: right;
    padding-right:25%;
    padding-bottom:16px;
}

/* Footer Styling */
#crosswalk_verse{
    font-size: 25px;
    width:75%;
}
#foot_navi{
    
    padding-top:3%;
    padding-bottom: 20px;
    font-size: 18px;
    width:100%;
}
#footer_container{
    padding-top: 18px;
    border-top:1px solid var(--mainBlue);
}
#foot_logo_img{
    width: 65px;
    height: auto;
}
/* Home Page */
#side_marker{
    width:50px;
    border:3px solid var(--mainBlue);
    background-color:  var(--mainBlue);
    border-color: var(--mainBlue);
    color:var(--mainBlue);
    height:100%;
}
#page_left_bound{
    width:250px;
    border-top:3px solid var(--mainblue);
}
#home_question{

}
#home_answer{
    padding-left:5%;
    width:65%;
    font-style:italic;
}
#home_content{
    padding-left:5%;
    color:var(--lightGray);
}

/* Classes */
.control-font{
    font-size: 1.75em;
}