
@font-face{
    font-family: "font-solid";
    src:url("fa-solid-900.ttf");
}
@font-face{
    font-family: "font-brands";
    src:url("fa-brands-400.ttf");
}
@font-face{
    font-family: "font-regular";
    src:url("fa-regular-400.ttf");
}
@font-face{
    font-family: "Muli-Bold";
    src:url("Muli-800.ttf");
}
@font-face{
    font-family: "Muli-Regular";
    src:url("Muli-regular.ttf");
}
@font-face{
    font-family: "Roboto-Bold";
    src:url("Roboto-00.ttf");
}
@font-face{
    font-family: "Roboto-Regular";
    src:url("Roboto-regular.ttf");
}